table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
#top{
  color: black;
  background-color: teal;
}
#ret{
  background-color: white;
  border-top: 1px solid black;
}

th {
  text-align: center;
}