
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  background-color:  darkgray;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  text-align: left;
}